body{
	margin: 0;
}

nav{
	width: 100%;
	margin-top: 10px;
	font-size: 15px;
}

ul{
	margin: 0 auto;
	overflow: hidden;
	float: left;
	background: linear-gradient(gray,white);
	background: -moz-linear-gradient(gray,white);
	background: -webkit-linear-gradient(gray,white);
	width: 100;
}

ul li{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	display: inline;
	position: relative;
}

ul li a{
	border-right: 1px dotted black;
	padding: 13px 25px;
	color: black;
	text-decoration: none;
	display: inline-block;
	background: linear-gradient(gray,white);
	background: -moz-linear-gradient(gray,white);
	background: -webkit-linear-gradient(gray,white);
}

ul li a:hover{
	background: linear-gradient(blue,white);
	background: -moz-linear-gradient(blue,white);
	background: -webkit-linear-gradient(blue,white);
}
ul li:hover> ul{
	visibility: visible;
}

ul ul{
	list-style: none;
	margin: 0;
	padding: 0;
	visibility: hidden;
	position: absolute;
	width: 180px;
	border-top: 1px solid #fff;
}

ul ul li a{
	padding: 9px 15px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	float: left;
	width: 150px;
	border-bottom: 1px dotted #fff;
}

