body{
	background-image: url(keyboard.jpg);
	background-size: cover;
}

#Table{
	text-align: center;	
	border-style: double;
	border-color: black;
	font-size: 30px;
	color: black;
}

#all{
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	max-width: 100px;	
}

/*.days{
	padding-left: 25px;
	padding-right: 25px;
	align-content: center;
	float: left;
	width: 100px;
	height: 500px;
	margin: 5px;
	background-image: url(com.jpg);
	background-size: cover;
}*/

h2{	
	color: #deb887;
	font-size: 20px;
	text-decoration: underline;
}


li{
	color: black !important;
	 font-size: 15px;
	
	
}